name: Linux
on:
#  push:
  workflow_dispatch:

jobs:
  linux:
    runs-on: [self-hosted, debian10, premake5, garrysmod_common]

    steps:
      - uses: actions/checkout@v2
        with:
          submodules: 'recursive'

      - name: Generate Project x64
        run: $PREMAKE5 gmake --gmcommon="${GARRYSMOD_COMMON64}"

      - name: "[x64] Build Release With Symbols"
        run: |
          cd projects/linux/gmake
          make -j2 config=releasewithsymbols_x86_64

      - name: Upload Build
        uses: actions/upload-artifact@v2
        with:
          name: ReleaseWithSymbols
          if-no-files-found: error
          path: projects/linux/gmake/x86_64/ReleaseWithSymbols/gmsv_network_linux64.dll

      - name: Generate Project x32
        run: $PREMAKE5 gmake --gmcommon="${GARRYSMOD_COMMON}"

      - name: "[x32] Build Release With Symbols"
        run: |
          cd projects/linux/gmake
          make -j2 config=releasewithsymbols_x86

      - name: Upload Build
        uses: actions/upload-artifact@v2
        with:
          name: ReleaseWithSymbols
          if-no-files-found: error
          path: projects/linux/gmake/x86/ReleaseWithSymbols/gmsv_network_linux.dll

  
  tests:
    needs: linux
    runs-on: [self-hosted, debian10, gmod, gmod64]

    steps:
      - uses: actions/checkout@v2 # for .github/workflows/test.lua
  
      - name: Setup Enviroment Variables
        run: |
          echo GMOD=$GMOD >> $GITHUB_ENV
          echo GMOD64=$GMOD64 >> $GITHUB_ENV
      
      - name: Download Artifacts
        uses: actions/download-artifact@v2
        with:
          name: ReleaseWithSymbols

      - name: Copy Binaries
        run: |
          mkdir -p $GMOD64/garrysmod/lua/bin/ $GMOD/garrysmod/lua/bin/
          cp gmsv_network_linux64.dll $GMOD64/garrysmod/lua/bin/
          cp gmsv_network_linux.dll $GMOD/garrysmod/lua/bin/
      
      - name: Copy test.lua
        run: |
          mkdir -p $GMOD/garrysmod/addons/test/lua/autorun/ $GMOD64/garrysmod/addons/test/lua/autorun/
          cp .github/workflows/test.lua $GMOD/garrysmod/addons/test/lua/autorun/
          cp .github/workflows/test.lua $GMOD64/garrysmod/addons/test/lua/autorun/

      - name: "[x64] Run Garrysmod"
        working-directory: ${{ env.GMOD64 }}
        timeout-minutes: 5
        run: |
          rm -f garrysmod/data/success.txt garrysmod/console.log
          ./start.sh
          if [[ $(< garrysmod/data/success.txt) != "$GITHUB_SHA" ]]; then exit 1; fi

      - name: "[x64] Print Log" 
        if: always()
        working-directory: ${{ env.GMOD64 }}
        run: cat garrysmod/console.log

      - name: "[x32] Run Garrysmod"
        working-directory: ${{ env.GMOD }}
        timeout-minutes: 5
        run: |
          rm -f garrysmod/data/success.txt garrysmod/console.log
          ./start.sh
          if [[ $(< garrysmod/data/success.txt) != "$GITHUB_SHA" ]]; then exit 1; fi

      - name: "[x32] Print Log" 
        if: always()
        working-directory: ${{ env.GMOD }}
        run: cat garrysmod/console.log

      - name: Debug Information
        if: failure()
        run: |
          echo ldd x64
          LD_LIBRARY_PATH=.:bin/linux64:$LD_LIBRARY_PATH ldd -r $GMOD64/garrysmod/lua/bin/gmsv_network_linux64.dll

          echo ldd x32
          LD_LIBRARY_PATH=.:bin:$LD_LIBRARY_PATH ldd -r $GMOD/garrysmod/lua/bin/gmsv_network_linux.dll

      - name: Cleanup x64
        if: always()
        working-directory: ${{ env.GMOD64 }}
        run: rm -rf garrysmod/data/* garrysmod/lua/bin/* garrysmod/addons/*

      - name: Cleanup x32
        if: always()
        working-directory: ${{ env.GMOD }}
        run: rm -rf garrysmod/data/* garrysmod/lua/bin/* garrysmod/addons/*